.inputSearch {
    width: 600px;
    height: 35px;
    margin-top: 50px;
    font-size: 26px;
}

.searchText {
    margin: 100px 0 430px 0;
}

.searchIcon {
    margin-left: 20px;
    // background-color: yellow;
}