@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.carousel {
    margin-top: -10px;
    // background-color: yellow;

    @media (max-width: #{$screen-xs}) {
        margin-top: -11px;
      }
    
    .assault-img {
      width: 100vw;
      display: block;
    }
    
    .insulation-img {
      @extend .assault-img
    }
    
    .midlayers-img {
      @extend .assault-img
    }
    
    .x-functional-img {
      @extend .assault-img
    }
  }


ul.slick-dots {
    background-color: #111;
    height: 79px;
    margin: 0px 0px -50px 0px;
    padding: 30px 0 30px 0;

    @media (max-width: #{$screen-xs}) {
        display: none;
        margin: 0px 0px -50px 0px;
        height: 40px;
      }
}



.text-box-1 {
    background-color: black;
    position: fixed;
    height: 227px;
    width: 485px;
    margin: 100px 0px 0px 0px;
    color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;

    @media (max-width: #{$screen-xs}) {
        // display: none;
        position: absolute;
        margin: 80px 0px 0px 0px;
        width: 375px;
        z-index: 1;
      }

    
    .text-category-1 {
        margin: -20px 25px 10px 0px;
        font-size: 1.5em;
        text-transform: uppercase;

        @media (max-width: #{$screen-xs}) {
            // display: none;
            font-size: .5em;
          }
    }
    .text-title-1 {
        margin: 0px 25px 10px 0px;
        font-size: 1em;
        text-transform: uppercase;

        @media (max-width: #{$screen-xs}) {
            // display: none;
            font-size: .5em;
          }
    }
    .text-description-1 {
        margin: 0px 20px 10px 0px;
        width: 28vw;
        font-size: 12px;
        letter-spacing: 2px;

        @media (max-width: #{$screen-xs}) {
            // display: none;
            font-size: .5em;
          }
    }

    
    .text-button-1 {
        margin: 20px 25px 0px 30px;
        height: 36px;
        width: 173px;
        font-size: 16px;
        color: white;
        background-color: rgba(0,0,0,0.75);
        border: 1px solid white;
        outline: none;
        cursor: pointer;

        @media (max-width: #{$screen-xs}) {
            // display: none;
            width: 100px;
          }
    }

    .text-button-3 {
        // background-color: yellow;
        width: 250px;
    }

    .text-button-4 {
        // background-color: yellow;
        width: 250px;
    }
}
.text-box-2, .text-box-3, .text-box-4 {
    @extend .text-box-1;
}

.text-category-2, .text-category-3, .text-category-4 {
    @extend .text-category-1;
}

.text-title-2, .text-title-3, .text-title-4 {
    @extend .text-title-1;
}

.text-description-2, .text-description-3, .text-description-4 {
    @extend .text-description-1;
}

.text-button-2, .text-button-3, .text-button-4 {
    @extend .text-button-1;
}







