// HEADER

h2, ul {
  // background-color: red;
  color: $font-color;
  font-family: $font-family;
  font-size: $font-size;
  letter-spacing: $letter-spacing
}

.header {
    margin-bottom: 10px;
    width: 100vw;
    height: 96px;
    background-color: $background-color;
    
    .navbar {
      // background-color: blue;
      margin: 0 auto;
      // width: 960px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      overflow: visible;
      position: relative;
      z-index: 100;
    }

  
    .header-ul { 
      margin: auto;
      width: 960px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      // black because of issue with UL making it grey
      background-color: black;
      
    }
    
  
    .header-box-1 {
      // background-color: red;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
          
      .header-text {
        color: $font-color;
      }
      
      .leaf-logo {
        margin: 18px 0px 0px 100px;
        width: 167px;
        height: 66px;

       @media (max-width: #{$screen-xs}) {
         margin: 25px 0 0 20px;
         width: 120px;
         height: 45px;
       }
      }
  
       .productsTextBtn {
      // font-family: $font-family;
      color: $font-color;
      margin: 0px 0px 2px 70px;
      background-color: black;
      border: none; 

      @media (max-width: #{$screen-xs}) {
        margin: 0px 0px 0 5px;
        display: none;
       
      }
    }
    // Gets rid of stupid blue outline
    .productsTextBtn:focus {
      outline: 0;
    }
  
    .triangle-up, .triangle-down {
      color: white;

      @media (max-width: #{$screen-xs}) {
        display: none;
      }
    }
  
  }
  
  
  .header-box-2 {
    // background-color: grey;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  
            .find-store {
              margin: 0px 0px 0px 0px; 

              @media (max-width: #{$screen-xs}) {
                display: none;
              }
            }
            
            .search {
              margin: 0px 0px 0px 0px;
              padding: 0px 0px 0px 50px;
              color: white;

              @media (max-width: #{$screen-xs}) {
                display: none;
              }
            }
            
            #fa-search {
              color: white; 
              margin-left: 8px; 
            }
            
            .cart-icon {
              margin: 0px 80px -3px 25px;
              height: 20px;

              @media (max-width: #{$screen-xs}) {
                margin: 0px 20px -5px 25px;
              }
            }
    }
  
    }
    // FOR DESKTOP DROP DOWN MENU
   
    .slide-menu {
      background-color: #333;
      width: 100%;
      height: 350px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      top: -350px;
      transition: .25s ease-in-out;
      opacity: 0;
      transition-property: opacity;
      z-index: -1;


      @media (max-width: #{$screen-xs}) {
        // Does not show slide down menu in mobile mode
        display: none;
      }
  
    }
  
    .slide-menu-position {
      top: 95px;
      right: 0px;
      opacity: 1;

      
      @media (max-width: #{$screen-xs}) {
        // Does not show slide down menu in mobile mode
        display: none;
      }
    }
  
    // navbar images
  .container-left {
    height: 300px;
    width: 500px;
    margin: 0px 25px 0px 25px;
    // background-color: #777;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .signin {
    font-size: 1.2em;
  }
  
  .start-shoppingBtn {
    margin-top: 25px;
    height: 36px;
    width: 150px;
    font-size: 16px;
    background-color: rgba(0,0,0,0.75);
    color: white;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
  }
  
  .vertical-line {
    float: right;
    margin-right: 20px;
    border: .5px solid #999;
    height: 83%;
  
  }
  
  .dropdown-categories {
    // background-color: red;
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
  }
  
  // Use of Mixin for nav-bar categories
  @mixin boxes {
    height: 140px;
    width: 95px;
    margin: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
  }
  
  // Mixin used here with includes
  .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11 {
    @include boxes;
  }
  
  // Will be extended to all other boxes
  .box1:hover {
    opacity: .9;
  }
  
  // Extended from .box1:hover
  .box2:hover, .box3:hover, .box4:hover, .box5:hover, .box6:hover, .box7:hover, .box8:hover, .box9:hover, .box10:hover, .box11:hover {
    @extend .box1:hover;
  }
  
  .nav-text {
    margin-bottom: 8px;
    padding: 0px;
  }

  // SUB NAV for MOBILE
  .sub-dropdown {
      @media (min-width: #{$screen-md}){
        display: none;
      }
  }

  .productsMobileTextBtn {
    // font-family: $font-family;
    color: $font-color;
    margin: 0px 70px 0px 0px;
    background-color: black;
    border: none; 
  }
  // 
  .slide-mobile-menu {
    background-color: #333;
    width: 100vw;
    right: 0px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -100px;
    // transition: .25s ease-in;
    opacity: 0;
    transition-property: opacity;
    z-index: -1;

    @media (max-width: #{$screen-xs}) {
      // display: none;
    }

  }

  .slide-mobile-menu-position {
    top: 90px;
    right: 0px;
    opacity: 1;
    

    // @media (min-width: #{$screen-xl}) {
    //   display: none;
    // }
  }

  .mobile-content {
    width: 100vw;
    // background-color: red;
    text-align: left;
    // padding-left: 10px;
  }

  .mobile-text-content {
    width: 100vw;
    color: #999;
    font-size: 1.7em;
    margin-top: 20px;
    padding: 0px 10px;
    
  }

  .horizontal-line{
    width: 95vw;
    border-bottom: 1px solid #999;
    margin: 10px 0px 0px 10px;
  }

  // RESPONSIVE TEMPLATES 
  // iPhone 6
  @mixin xs {
    @media (max-width: #{$screen-xs}){

      // @content;
    
    }
  }


// iPhone 6+
  @mixin sm {
    @media (max-width: #{$screen-sm}){
      

    }
  }

// Tablet 
  @mixin md {
    @media (max-width: #{$screen-md}){

    }
  }

// Large Tablet
  @mixin lg {
    @media (max-width: #{$screen-lg}){
      
    
    }
  }

 

// Desktop 
@mixin xl{
  @media (max-width: #{$screen-xl}){
    
  }
}

