@import url("https://fonts.googleapis.com/css?family=Montserrat:500");
.App {
  text-align: center; }

body {
  background-color: white; }

h2, ul {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7em;
  letter-spacing: 2px; }

.header {
  margin-bottom: 10px;
  width: 100vw;
  height: 96px;
  background-color: #000; }
  .header .navbar {
    margin: 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: visible;
    position: relative;
    z-index: 1; }
  .header ul {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
  .header .header-box-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    .header .header-box-1 .header-text {
      color: white; }
    .header .header-box-1 .leaf-logo {
      margin: 18px 0px 0px 100px;
      width: 167px;
      height: 66px; }
    .header .header-box-1 .productsTextBtn {
      color: white;
      margin: 0px 0px 2px 70px;
      background-color: black;
      border: none; }
    .header .header-box-1 .productsTextBtn:focus {
      outline: 0; }
    .header .header-box-1 .fa-angle-down {
      color: white; }
  .header .header-box-2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end; }
    .header .header-box-2 .find-store {
      margin: 0px 0px 0px 0px; }
    .header .header-box-2 .search {
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 50px; }
    .header .header-box-2 .fa-search {
      color: white;
      margin-left: 8px; }
    .header .header-box-2 .cart-icon {
      margin: 0px 80px -3px 25px;
      height: 20px; }

.slide-menu {
  background-color: #333;
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: -350px;
  transition: .25s ease-in-out;
  opacity: 0;
  transition-property: opacity;
  z-index: -1; }

.slide-menu-position {
  top: 95px;
  opacity: 1; }

.container-left {
  height: 300px;
  width: 500px;
  margin: 0px 25px 0px 25px;
  background-color: #777;
  display: flex;
  justify-content: center;
  align-items: center; }

.dropdown-categories {
  width: 800px;
  margin: 0px 50px 0px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center; }

.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11 {
  height: 140px;
  width: 95px;
  margin: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black; }

.box1:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover, .box6:hover, .box7:hover, .box8:hover, .box9:hover, .box10:hover, .box11:hover {
  opacity: .9; }

.nav-text {
  margin-bottom: 8px;
  padding: 0px; }

.carousel {
  margin-top: -10px; }
  .carousel .assault-img, .carousel .insulation-img, .carousel .midlayers-img, .carousel .x-functional-img {
    width: 100vw;
    display: block; }

.footer {
  height: 201px;
  position: relative;
  margin-top: 76px;
  padding: 50px 75px 0px 75px;
  width: 100vw;
  background-color: #000; }
  .footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 83vw; }
  .footer h2 {
    color: #a4a4a4;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px; }
  .footer .footer-text {
    padding: 10px;
    font-size: 0.7em; }
  .footer .footer-box-1 {
    float: left; }
    .footer .footer-box-1 .arc-logo {
      width: 12vw;
      margin-bottom: 6px; }
  .footer .footer-box-5 {
    margin-bottom: 32px; }

.insulation-img-2 {
  position: relative;
  width: 80vw;
  display: block;
  margin: 0px 50px;
  z-index: 1; }

.category-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 40px 0px 25px 24px; }
  .category-text .cold-weather-text {
    margin: 0px 0px 0px 10px; }

.cold-weather-box {
  background-color: black;
  position: absolute;
  width: 420px;
  height: 140px;
  margin: 35px 0px 0px 50px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  z-index: 2; }
  .cold-weather-box .cold-weather-category {
    margin: 0px 0px 0px 20px;
    font-size: 1.4em; }
  .cold-weather-box .cold-weather-description {
    width: 30vw;
    margin: 10px 0px 0px 20px;
    letter-spacing: 2.5px;
    font-size: 12px; }

.products-array {
  margin: 50px 100px 0px 100px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start; }

.single-product {
  margin: 15px;
  text-decoration: none; }

.title-price {
  margin: 30px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline; }

p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.7em;
  font-weight: bolder;
  padding-top: 5px; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder; }

.main-upper-box {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-start; }
  .main-upper-box p {
    margin-right: 5px; }
  .main-upper-box #arcteryx, .main-upper-box #mens, .main-upper-box #title-link {
    letter-spacing: 2px; }
  .main-upper-box .upper-left-box {
    width: 50vw; }
  .main-upper-box .upper-left-text {
    margin: 25px 0px 0px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; }
  .main-upper-box .hero-image {
    margin: 50px 0px 0px 25px; }

.upper-right-box {
  width: 50vw;
  padding: 50px 100px 0px 100px; }
  .upper-right-box #title {
    font-size: 2em; }
  .upper-right-box #description {
    font-size: 1em; }
  .upper-right-box #price {
    font-size: 1.2em; }
  .upper-right-box .cartBtn {
    margin-top: 15px;
    width: 325px;
    height: 45px;
    font-size: 1.1em;
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #000; }
  .upper-right-box .cartBtn:focus {
    outline: 0; }

.content {
  margin: 40px 100px 10px 100px; }
  .content .upper-text, .content .product-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px; }
  .content .cart-main {
    width: 79vw;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .content h5 {
    font-size: .8em; }
  .content .product-content {
    margin-top: 10px; }
  .content .product-details {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .content .product-thumbnail {
    width: 55px; }
  .content .product-title {
    margin-left: 10px;
    width: 100px; }
  .content .product-quantity {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .content .product-remove {
    padding: 0px;
    background: none;
    border: none;
    outline: none; }
  .content #removeBtn:hover {
    cursor: pointer; }
  .content .cart-container {
    margin-top: 20px;
    margin-left: 725px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end; }
  .content .product-quantity {
    letter-spacing: 15px; }
  .content .cart-content {
    margin-right: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline; }
  .content .item, .content .express, .content .total {
    margin-top: 5px; }
  .content .checkoutBtn {
    margin: 15px 5px 0px 0px;
    width: 250px;
    height: 45px;
    font-size: 1.1em;
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #000; }
  .content .checkoutBtn:focus {
    outline: 0; }
