// IMPORT FONTS
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

// VARIABLES
$background-color: #000;
$font-color: white;
$font-family: 'Montserrat', sans-serif;
$font-size: .7em;
$letter-spacing: 2px;

.App {
  text-align: center;
  // background-color: yellow;
}

// BODY

body {
  // background-image: url('./images/midlayers.jpg');
  // background-size: cover;
  // background-repeat: no-repeat;
  background-color: white;
}


h2, ul {
  color: $font-color;
  font-family: $font-family;
  font-size: $font-size;
  letter-spacing: $letter-spacing
}

// HEADER
.header {
  margin-bottom: 10px;
  width: 100vw;
  height: 96px;
  background-color: $background-color;
 

  .navbar {
    // background-color: blue;
    margin: 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: visible;
    position: relative;
    z-index: 2;
  }

  ul {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
  }
  

  .header-box-1 {
    // background-color: red;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
        
    .header-text {
      color: $font-color;
    }
    
    .leaf-logo {
      margin: 18px 0px 0px 100px;
      width: 167px;
      height: 66px;
    }

     .productsTextBtn {
    // font-family: $font-family;
    color: $font-color;
    margin: 0px 0px 2px 70px;
    background-color: black;
    border: none; 
  }
  // Gets rid of stupid blue outline
  .productsTextBtn:focus {
    outline: 0;
  }

  .fa-angle-down {
    color: white;
  }

}


.header-box-2 {
  // background-color: grey;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

          .find-store {
            margin: 0px 0px 0px 0px; 
          }
          
          .search {
            margin: 0px 0px 0px 0px;
            padding: 0px 0px 0px 50px;
          }
          
          .fa-search {
            color: white; 
            margin-left: 8px; 
          }
          
          .cart-icon {
            margin: 0px 80px -3px 25px;
            height: 20px;
          }
  }

  }
  // FOR DROP DOWN MENU

  .slide-menu {
    background-color: #333;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: whitesmoke;
    position: absolute;
    top: -350px;
    transition: .15s;
    z-index: 1;
  }

  .slide-menu-position {
    top: 95px;
  }

  // navbar images
.dropdown-categories {
  // background-color: red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.box1 {
  height: 140px;
  width: 95px;
  margin: 0px 5px 0px 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11 {
  @extend .box1;
}

.nav-text {
  margin-bottom: 8px;
  padding: 0px;
}


// Carousel

.carousel {
  margin-top: -10px;
  // background-color: yellow;
  
  .assault-img {
    width: 100vw;
    display: block;
  }
  
  .insulation-img {
    @extend .assault-img
  }
  
  .midlayers-img {
    @extend .assault-img
  }
  
  .x-functional-img {
    @extend .assault-img
  }
}




// FOOTER
.footer {
  height: 201px;
  position: relative;
  margin-top: 76px;
  padding: 50px 75px 0px 75px;
  width: 100vw;
  background-color: $background-color;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 83vw;
    // overflow: visible;
    // position: relative;
  }
  

  h2 {
   color: #a4a4a4;
   font-family: $font-family;
   letter-spacing: 1px;
  }
  
  .footer-text {
    padding: 10px;
    font-size: $font-size;
  }
  
  .footer-box-1 {
    float: left;
    // display: flex;
    // justify-content: space-around;
    // align-items: flex-end;
            
    .arc-logo {
      width: 12vw;
      margin-bottom: 6px;
            }
  }

  .footer-box-2 {
  }

  .footer-box-3 {

  }

  .footer-box-4 {
    
  }

  .footer-box-5 {
    margin-bottom: 32px;
    // background-color: red;
  }
}



// Category PAGE Starts HERE!!!

// .main-content {
//   width: 960px;
//   margin: 25px 0px 0px 150px;
//   // background-color: yellow;
// }

.insulation-img-2 {
  width: 960px;
  display: block;
  margin: auto;
  // padding: 25px 0px 0px 0px;
}

.category-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 40px 0px 25px 24px;

  .cold-weather-text {
    margin: 0px 0px 0px 10px;
  }
}

.products-array {
  margin: 50px 100px 0px 100px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.single-product {
  margin: 15px;
  text-decoration: none;
  // color: black;
}

.single-product:visited {
  // color: black;
}

.title-price {
  margin: 30px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

p {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: bolder;
  padding-top: 5px;
  }

h3 {
  font-family: $font-family;
  font-weight: bolder;
}

// Product Details Page

$letter-spacing: 2px; 

.main-upper-box {
  width: 100vw;
  // background-color: purple;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  p {
    margin-right: 5px;
  }

  #arcteryx, #mens, #title-link {
    letter-spacing: $letter-spacing;
  }

  .upper-left-box {
    width: 50vw;
    // background-color: yellow;
    
  }
  
  .upper-left-text {
    // background-color: red;
    margin: 25px 0px 0px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .hero-image {
    margin: 50px 0px 0px 25px;
  }
}


.upper-right-box {
  width: 50vw;
  // margin: 0px 50px 0px 50px;
  padding: 50px 100px 0px 100px;
  // background-color: green;

  #title {
    font-size: 2em;
  }

  #description {
    font-size: 1em;
  }
  #price {
    font-size: 1.2em;
  }

  .cartBtn {
    margin-top: 15px;
    width: 325px;
    height: 45px;
    font-size: 1.1em;
    font-family: $font-family;
    color: $font-color;
    background-color: $background-color;
    
  }
  // gets rid of annoying blue outline when clicked
  .cartBtn:focus {outline:0;}
}

.lower-box {
  // background-color: blue;
}

// CART

.content {
  margin: 40px 100px 10px 100px;
  // background-color: red;
  .upper-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
  }

  .cart-main {
    // background-color: green;
    width: 79vw;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h5 {
    font-size: .8em;
  }

  .product-content {
    @extend .upper-text;
    margin-top: 10px;
    // background-color: yellow;
  }

  .product-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .product-thumbnail {
    width: 55px;
  }

  .product-title {
    margin-left: 10px;
    width: 100px;
    // background-color: yellow;
  }

  .product-quantity {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .product-remove {
    padding: 0px;
    background: none;
    border: none;
    outline: none;
  }



  #removeBtn:hover {
    cursor: pointer;
  }

  .cart-array {
    // background-color: red;
  }

  .cart-container {
    margin-top: 20px;
    margin-left: 725px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    // background-color: purple;
  }

  .product-quantity {
    letter-spacing: 15px;
  }

  .cart-content {
    margin-right: 150px;
    // background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
  }

  .item, .express, .total {
    margin-top: 5px;
  }

  .checkoutBtn {
    margin: 15px 5px 0px 0px;
    width: 250px;
    height: 45px;
    font-size: 1.1em;
    font-family: $font-family;
    color: $font-color;
    background-color: $background-color;
  }
  .checkoutBtn:focus {outline:0;}

}

