// IMPORT FONTS
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

// VARIABLES
$background-color: #000;
$font-color: white;
$font-family: 'Montserrat', sans-serif;
$font-size: .7em;
$letter-spacing: 2px;

.App {
  text-align: center;
  // background-color: yellow;
}

// BODY

body {
  // background-image: url('./images/midlayers.jpg');
  // background-size: cover;
  // background-repeat: no-repeat;
  background-color: white;
}


h2, ul {
  color: $font-color;
  font-family: $font-family;
  font-size: $font-size;
  letter-spacing: $letter-spacing
}

// HEADER
.header {
  margin-bottom: 10px;
  width: 100vw;
  height: 96px;
  background-color: $background-color;

  .header-content {
    // background-color: blue;
    margin: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
    position: relative;
  }
  

  .header-box-1 {
    // background-color: red;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    

    .header-text {
      color: $font-color;
    }
    
    .leaf-logo {
      margin-top: 18px;
      width: 167px;
      height: 66px;
    }
  
    .products-text {
      // font-family: $font-family;
      color: $font-color;
      margin: 20px 0px 0px 60px;
    }

    .dropdown {
      float: left;
      overflow: hidden;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: yellow;
      z-index: 1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }
  }

  .header-box-2 {
    // background-color: green;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    .find-store {
      margin: 20px 60px 0px 0px; 
    }

    .search {
      margin: 20px 40px 0px 0px;
    }
    
    .cart-icon {
      margin-top: 70px;
      height: 20px;
  
    }
  }

}

.midlayers-img {
  width: 100vw;
  display: block;
  margin-top: -10px;
}


// FOOTER
.footer {
  height: 201px;
  position: relative;
  padding: 50px 75px 0px 75px;
  width: 100vw;
  background-color: $background-color;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 83vw;
    // overflow: visible;
    // position: relative;
  }
  

  h2 {
   color: #a4a4a4;
   font-family: $font-family;
   letter-spacing: 1px;
  }
  
  .footer-text {
    padding: 10px;
    font-size: $font-size;
  }
  
  .footer-box-1 {
    float: left;
    // display: flex;
    // justify-content: space-around;
    // align-items: flex-end;
            
    .arc-logo {
      width: 12vw;
      margin-bottom: 6px;
            }
  }

  .footer-box-2 {
  }

  .footer-box-3 {

  }

  .footer-box-4 {

  }

  .footer-box-5 {
    
  }
}



// Category PAGE Starts HERE!!!

// .main-content {
//   width: 960px;
//   margin: 25px 0px 0px 150px;
//   // background-color: yellow;
// }

.insulation-img {
  width: 960px;
  display: block;
  margin: auto;
  // padding: 25px 0px 0px 0px;
}

.category-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 40px 0px 25px 24px;

  .cold-weather-text {
    margin: 0px 0px 0px 10px;
  }
}

.products-array {
  margin: 50px 100px 0px 100px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.single-product {
  margin: 15px;
  text-decoration: none;
  // color: black;
}

.single-product:visited {
  // color: black;
}

.title-price {
  margin: 30px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

p {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: bolder;
  padding-top: 5px;
  }

h3 {
  font-family: $font-family;
  font-weight: bolder;
}

// Product Details Page

.main-upper-box {
  width: 100vw;
  background-color: purple;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  p {
    margin-right: 5px;
  }

  .upper-left-box {
    width: 50vw;
    background-color: yellow;
    
  }
  
  .upper-left-text {
    background-color: red;
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}


.upper-right-box {
  width: 50vw;
  // margin: 0px 50px 0px 50px;
  padding: 50px 100px 0px 100px;
  background-color: green;

  #title {
    font-size: 2em;
  }

  #description {
    font-size: 1em;
  }
  #price {
    font-size: 1.2em;
  }
}

.lower-box {
  background-color: blue;
}