@import url("https://fonts.googleapis.com/css?family=Montserrat:500");
.App {
  text-align: center; }

body {
  background-color: white; }

h2, ul {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7em;
  letter-spacing: 2px; }

.header {
  margin-bottom: 10px;
  width: 100vw;
  height: 96px;
  background-color: #000; }
  .header .header-content {
    margin: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
    position: relative; }
  .header .header-box-1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end; }
    .header .header-box-1 .header-text {
      color: white; }
    .header .header-box-1 .leaf-logo {
      margin-top: 18px;
      width: 167px;
      height: 66px; }
    .header .header-box-1 .products-text {
      color: white;
      margin: 20px 0px 0px 60px; }
    .header .header-box-1 .dropdown {
      float: left;
      overflow: hidden; }
    .header .header-box-1 .dropdown-content {
      display: none;
      position: absolute;
      background-color: yellow;
      z-index: 1; }
    .header .header-box-1 .dropdown:hover .dropdown-content {
      display: block; }
  .header .header-box-2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end; }
    .header .header-box-2 .find-store {
      margin: 20px 60px 0px 0px; }
    .header .header-box-2 .search {
      margin: 20px 40px 0px 0px; }
    .header .header-box-2 .cart-icon {
      margin-top: 70px;
      height: 20px; }
  .header .loginBtn {
    margin-left: 10px; }

.midlayers-img {
  width: 100vw;
  display: block;
  margin-top: -10px; }

.footer {
  height: 201px;
  position: relative;
  padding: 50px 75px 0px 75px;
  width: 100vw;
  background-color: #000; }
  .footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 83vw; }
  .footer h2 {
    color: #a4a4a4;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px; }
  .footer .footer-text {
    padding: 10px;
    font-size: 0.7em; }
  .footer .footer-box-1 {
    float: left; }
    .footer .footer-box-1 .arc-logo {
      width: 12vw;
      margin-bottom: 6px; }

.insulation-img {
  width: 960px;
  display: block;
  margin: auto; }

.category-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 40px 0px 25px 24px; }
  .category-text .cold-weather-text {
    margin: 0px 0px 0px 10px; }

.products-array {
  margin: 50px 100px 0px 100px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start; }

.single-product {
  margin: 15px;
  text-decoration: none; }

.title-price {
  margin: 30px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline; }

p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.7em;
  font-weight: bolder;
  padding-top: 5px; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder; }

.main-upper-box {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-start; }
  .main-upper-box p {
    margin-right: 5px; }
  .main-upper-box #arcteryx, .main-upper-box #mens, .main-upper-box #title-link {
    letter-spacing: 2px; }
  .main-upper-box .upper-left-box {
    width: 50vw; }
  .main-upper-box .upper-left-text {
    margin: 25px 0px 0px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; }
  .main-upper-box .hero-image {
    margin: 50px 0px 0px 25px; }

.upper-right-box {
  width: 50vw;
  padding: 50px 100px 0px 100px; }
  .upper-right-box #title {
    font-size: 2em; }
  .upper-right-box #description {
    font-size: 1em; }
  .upper-right-box #price {
    font-size: 1.2em; }
  .upper-right-box .cartBtn {
    margin-top: 15px;
    width: 325px;
    height: 45px;
    font-size: 1.1em;
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #000; }
  .upper-right-box .cartBtn:focus {
    outline: 0; }

.content {
  margin: 40px 100px 10px 100px; }
  .content .upper-text, .content .product-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px; }
  .content h5 {
    font-size: .8em; }
  .content .product-content {
    margin-top: 10px; }
  .content .cart-container {
    margin-top: 20px;
    margin-left: 725px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end; }
  .content .cart-content {
    margin-right: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline; }
  .content .item, .content .express, .content .total {
    margin-top: 5px; }
  .content .checkoutBtn {
    margin: 15px 5px 0px 0px;
    width: 250px;
    height: 45px;
    font-size: 1.1em;
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #000; }
