// IMPORT FONTS
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

// VARIABLES
$background-color: #000;
$font-color: white;
$font-family: 'Montserrat', sans-serif;
$font-size: .7em;
$letter-spacing: 2px;
$screen-xs: 376px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;


html {
  height: 100vh;
}

.App {
  text-align: center;
  background-color: white;
  position: relative;
}

// Header
@import './Component/Header/Header';

// Carousel
@import './Component/Carousel/Carousel';

// FOOTER
@import './Component/Footer/Footer';

// Category PAGE Starts HERE!!!
@import './Component/ColdWeather/ColdWeather';

// Product Details Page
@import './Component/Product/Product';

// Search Field
@import './Component/Search/Search';

// CART
@import './Component/Cart/Cart';

